body {
    background: url(https://source.unsplash.com/N_G2Sqdy9QY);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
  padding-top: 12%;
  text-align: center;
  color: grey;
}
